/* ========== Hero Area =========== */
.hero {
  margin: 0 3rem;
  @include respond-to("sm") {
    margin: 0;
  }


  .row {
    height: 100%;
    // background-color: #fee0d4;

    position: relative;

    .wrapper {
      background-image: url("../background1.jpg");
      background-position: center;
      background-size: cover;
      padding-top: 4rem;
      padding-bottom: 4rem;
      border-radius: 2rem;
      width: 100%;
      .col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 3rem;

        h1 {
          font-family: "Aclonica", sans-serif;
          font-size: 10rem;
          color: white;
          @include respond-to("sm") {
            font-size: 4rem;
          }
        }

        p {
          font-size: 2rem;
          margin-bottom: 6rem;
          color: white;
        }

        .btn {
          display: inline-block;
          padding: 1.5rem 6rem;
          border-radius: 1rem;
          color: var(--white-color);
          font-weight: 500;
          font-size: 1.8rem;
          background: var(--btn-gradient);
          box-shadow: var(--box-shadow-1);
        }
      }

      img {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

@media (max-width: 1600px) {
  .header .hero .row img {
    width: 40rem;
  }
}

@media (max-width: 1200px) {
  .header .hero .row .col h1 {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .header .hero {
    .row {
      .col {
        position: absolute;
        top: 10%;
        margin-left: 0;

        .subtitle {
          font-size: 1.6rem;
        }

        h1 {
          font-size: 7rem;
        }

        p {
          font-size: 1.6rem;
        }

        .btn {
          padding: 1.2rem 4rem;
        }
      }

      img {
        width: 40rem;
      }
    }
  }
}

@media (max-width: 567px) {
  .header .hero {
    height: 100vh;
    margin: 0 1rem;

    .row {
      .col {
        .subtitle {
          font-size: 1.6rem;
          margin-bottom: 1.5rem;
        }

        h1 {
          font-size: 7rem;
        }

        p {
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }

        .btn {
          padding: 1.2rem 4rem;
        }
      }

      img {
        width: 25rem;
      }
    }
  }
}
